# Build directories
/build/

# Local simulator/reference binaries
/cbp
/reference
/test_harcom
/a.out

# trace directory
traces/*

# trace logs
out/*

# Agent
agent/hw_lib

# Windows binaries
*.exe

# Run outputs
*.out
